#fim_de_jogo {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#fim_de_jogo h2,
#fim_de_jogo p {
    margin-bottom: 1rem;
}

#fim_de_jogo p {
    color: #19d300
}

#fim_de_jogo img {
    margin-top: 2rem;
    max-height: 200px;
}